@import "/css/imports/links.css";
@import "/css/imports/variables.css";
@font-face {
    font-family: "Boots And Spurs";
    src: url("../Fonts/BootsAndSpurs.ttf") format("truetype");
}

body {
    font-family: var(--text-paragraph), Verdana, Geneva, Tahoma, sans-serif;
    min-height: 100vh;
    margin: 0px;
    display: grid;
    grid-template-rows: auto 1fr auto;
}

h1,
h2,
.logo {
    font-family: var(--text-heading), BDR-mono, Roboto, Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

.product-list h2 {
    font-family: "Roboto", Verdana, Geneva, Tahoma, sans-serif;
}

header {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

nav {
    margin-left: 25px;
    display: none;
    position: fixed;
    top: 45px;
    background: #202020;
    z-index: 1000;
    right: 0px;
}

nav ul {
    padding: 0px;
}

nav li {
    display: block;
    padding: 20px 30px;
}

#hamburger-menu {
    display: none;
}

#hamburger-menu:checked~nav {
    display: block;
}

header,
footer {
    background-color: #202020;
    color: #fff;
}

img {
    width: 100%
}