@font-face {
    font-family: "Boots And Spurs";
    src: url("../Fonts/BootsAndSpurs.ttf") format("truetype");
}

body {
    font-family: "Roboto", Verdana, Geneva, Tahoma, sans-serif;
}

h1,
h2,
.logo {
    font-family: "Boots And Spurs", BDR-mono, Tahoma, Geneva, Verdana, sans-serif;
}

.product-list h2 {
    font-family: "Roboto", Verdana, Geneva, Tahoma, sans-serif;
}

header,
footer {
    background-color: #202020;
    color: #fff;
}

header a {
    color: #fff;
}

.cta {
    background-color: #bb0000;
    color: #fff;
    font-size: 1.5em;
}

.reviews {
    background-color: #e8e8e8;
}

.featured--products,
.featured {
    background-color: #fbfbfb;
}

.cta-sale {
    background-color: #127300;
}

footer {
    text-align: center;
}